@CHARSET "ISO-8859-1";
#chado_search-id-feature_name_file,
#chado_search-id-feature_name_file_inline {
	border: 0px;
	box-shadow: none;
	padding: 2px 0px;
	margin: 0px;
}

#chado_search-filter-marker_search-organism-field,
#chado_search-filter-marker_search-mapped_organism-field,
#chado_search-filter-marker_search-map_genome-field {
	clear:both;
	margin-left: 0px;
}

#chado_search-filter-marker_search-mapped_organism-label,
#chado_search-filter-marker_search-organism-label {
	margin-bottom: 0px !important;
}

#chado_search-marker_search-markup-genome_label {
	width: 110px;
}

#chado_search-filter-biodata_download-data_filters-field label {
	margin-top:5px;
	width: 160px;
	float: left;
}
#chado_search-filter-biodata_download-data_filters-field select {
	float: left;
	margin-left: 0px;
	width: auto;
}
#chado_search-filter-biodata_download-data_filters-field input {
	float: left;
}
#chado_search-filter-biodata_download-data_filters-field {
	margin-right: 20px;
}
#chado_search-filter-biodata_download-data_attributes-field {
	float:right;
	margin-right: 6px;
}
#chado_search-biodata_download-button-apply_filters {
	clear:left;
	margin-top: 15px;
}
#chado_search-biodata_download-submit-submit {
	clear:none;
	margin-top: 15px;
}
#chado_search-biodata_download-reset-reset {
	clear: left;
}
#chado_search-biodata_download-button-fasta_file {
	margin-top: 15px;
}
#chado_search-biodata_download-button-conditions_add, #chado_search-biodata_download-button-conditions_remove {
	margin-right: 10px;
}
#chado_search-filter-biodata_download-conditions {
	margin-right: 0px;
}
#chado_search-filter-biodata_download-conditions .chado_search-widget {
	margin-right: 15px;
}
.chado_search-repeatable_text-biodata_download-operator {
	width: 100px !important;
}
#biodata_download-table-download {
	margin: 0px 20px;
}
#chado_search-filter-image_search-keyword, #chado_search-filter-image_search-project {
	margin-left: -20px;
}
#chado_search-snp_marker_search-seuqence_retrieval-upstream, #chado_search-snp_marker_search-seuqence_retrieval-downstream {
	float: none;
}

#chado_search-snp_marker_search-seuqence_retrieval-upstream label, #chado_search-snp_marker_search-seuqence_retrieval-downstream label{
	white-space: nowrap;
}

#chado_search-marker_search-seuqence_retrieval-upstream, #chado_search-marker_search-seuqence_retrieval-downstream {
	float: none;
}

#chado_search-marker_search-seuqence_retrieval-upstream label, #chado_search-marker_search-seuqence_retrieval-downstream label{
	white-space: nowrap;
}

#chado_search-gene_search-seuqence_retrieval-widget {
	margin-top: 8px;
}

#chado_search-gene_search-seuqence_retrieval-upstream, #chado_search-gene_search-seuqence_retrieval-downstream {
	float: none;
}

#chado_search-gene_search-seuqence_retrieval-upstream label, #chado_search-gene_search-seuqence_retrieval-downstream label{
	white-space: nowrap;
}
/*
#snp_genotype_search-result-table th {
	white-space: nowrap;
	height:250px;
	width:20px;
	font-size:80%;
	transform: rotate(270deg);
}
#chado_search-snp_genotype_search-header-1, #chado_search-snp_genotype_search-header-2 {
	transform:none !important;
}
*/

#haplotype_block_search-result-table .chado_search_cell {
  max-width: none;
  max-height: none;
}